<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dd6dab">  <td>23/12/30 12:45:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_testClass.executor()[pri:0, instance:testClass.Put_testClass@272113c4]">executor</td> 
  <td>main@1640296160</td>   <td></td> </tr>
<tr bgcolor="779568">  <td>23/12/30 12:45:08</td>   <td>-5852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_test_class.executor()[pri:0, instance:testClass.Post_test_class@2dc54ad4]">executor</td> 
  <td>main@1640296160</td>   <td></td> </tr>
<tr bgcolor="d661ba">  <td>23/12/30 12:45:16</td>   <td>2713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="patch_testClass.executor()[pri:0, instance:testClass.patch_testClass@771a660]">executor</td> 
  <td>main@1640296160</td>   <td></td> </tr>
<tr bgcolor="9191d5">  <td>23/12/30 12:45:15</td>   <td>1771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="get_testClass.executor()[pri:0, instance:testClass.get_testClass@73e9cf30]">executor</td> 
  <td>main@1640296160</td>   <td></td> </tr>
</table>
